.container-style {
  display: flex;
  align-items: center;
  gap: 16px;
}

.star-container-style {
  display: flex;
}

.text-style {
  line-height: 1;
  margin: 0;
  font-size: 18px;
}

.star-style {
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
}